:root {
    --primary-color: #385297;
    --primary-color-dark: #314884;
    --primary-color-darker: #2A3E72;
    --primary-color-darkest: #23345F;
    --primary-color-light: #3F5CAA;
    --primary-color-lighter: #4767BB;
    --primary-color-lightest: #5A76C2;
    --code-font-size: 95%;
    --highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  #header {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; /* Align items on both sides */
    align-items: center;
  }
  
  #header a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
  }
  
  #header a:hover {
    text-decoration: underline;
  }
  
  .content {
    flex: 1;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    color: var(--primary-color-darkest);
  }
  
  h2 {
    color: var(--primary-color);
  }
  
  .categories {
    display: flex; /* Use flexbox for horizontal layout */
    justify-content: space-around; /* Space items evenly */
    gap: 20px;
    margin-bottom: 40px;
  }
  
  .categories div {
    flex: 1;
    text-align: left;
  }
  
  .categories ul {
    list-style: none;
    padding: 0;
  }
  
  .categories ul li {
    margin: 10px 0;
  }
  
  .categories ul li a {
    text-decoration: none;
    color: var(--primary-color-lightest);
  }
  
  .categories ul li a:hover {
    text-decoration: underline;
  }
  
  .all-tools {
    margin-top: 40px;
    text-align: center;
  }
  
  #footer {
    background-color: var(--primary-color-dark);
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 0.9em;
    margin-top: auto;
  }
  