.content {
    text-align: center;
    padding: 20px;
}

label, input[type="number"], button {
    display: block;
    margin: 10px auto;
    font-size: 1.2em; /* Increase font size */
    padding: 10px;
}

#discount-result {
    font-size: 1.2em; /* Increase font size */
    margin-top: 20px;
}
